# Logs
*.retry
*.log

# Secrets
.vault_pass
*.env
.env.*
secrets/
*_secret*
*_password*
inventory/group_vars/all/vault.yml

# Ansible
*.retry
.ansible/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
venv

# Personnel
.gitignore
docs/*
!docs/schema_architecture_infra.gif